@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
html{
  background-color: #F5F5F5;
}
#header > header, #investment > article, #broker > article{
  padding-left: 14px;
  padding-right: 14px;
  margin: auto;
  max-width: 1072px;
}
.clear{
  clear:both;
}
#header{
  background-color: #CBECFF;
  width: 100%;
  min-height: 678px;
  padding-top: 18px;
}
header{
  background-image: url(/images/hand.png);
  background-repeat: no-repeat;
  background-position-x: 105%;
  background-position-y: 30px;
  min-height: 678px;
}
#ru, #en {
  color: #29374E;
  float: right;
  margin-left: 15px;
  padding: 3px 5px;
}
#en {
    margin-right: 100px;
}
#ru.active, #en.active{
  background-color: #fff;
  border-radius: 12px;
  color: #0962E8;
}
header > h1{
  color: #29374E;
  font-weight: 700;
  font-size: 64px;
  line-height: 130%;
  position: relative;
  top: 92px;
}
header > h1 > span{
  background: #FFFFFF;
  border-radius: 20px;
  color: #0962E8;
  display: inline-block;
  font-weight: 700;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.006em;
  margin-left: 7px;
  padding: 1px 7px 3px 17px;
}

#header > header > div:nth-child(5){
  color: #29374E;
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  position: relative;
  width: 384px;
  top: 103px;
}
.button{
  background: #0962E8;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  width: 199px;
  height: 52px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}
.button:hover{
  background: #ffffff;
  color: #0962E8;
}
.button:active{
  background: #f70707;
  color: #f3f5f7;
}
#header > header > button{
  position: relative;
  top: 149px;
}
#header > header >  div.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  position: relative;
  top: 340px;
}
#header > header > div.grid_container > div {
  background-color: #fff;
  background-position-x: 94%;
  background-position-y: 21%;
  background-repeat: no-repeat;
  box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  height: 78px;
  padding: 25px;
  padding-right: 65px;
  background-size: 20%;
}
#header > header > div.grid_container >div:first-child{
  background-image: url(/images/Graph.png);
}
#header > header > div.grid_container > div:nth-child(2){
  background-image: url(/images/Activity.png);
}
#header > header > div.grid_container > div:nth-child(3){
  background-image: url(/images/Filter.png);
}
#header > header > div.grid_container >div:last-child{
  background-image: url(/images/Setting.png);
}
#investment{
  margin-top: 115px;
}
#investment > article > h2, #broker > article > div.grid_container > div > h2 {
  color: #29374E;
  font-weight: 500;
  font-size: 38px;
  line-height: 130%;
  letter-spacing: -0.03em;
  text-align: center;
}
.blue{
  color: #0962E8;
  font-weight: 500;
  font-size: 38px;
  line-height: 130%;
  letter-spacing: -0.03em;
}
#investment > article > div.grid_container{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 44px;
}
#investment > article > div.grid_container > div {
  color: #000;
  background: #E9F6FF;
  background-position: bottom -8px right 30px;
  background-repeat: no-repeat;
  background-size: 260px;
  border-radius: 30px;
  height: 328px;
  padding-left: 20px;
  padding-right: 300px;
  padding-top: 34px;
}
#investment > article > div.grid_container > div:first-child {
  background-image: url(/images/strategies.png);
}
#investment > article > div.grid_container > div:last-child {
  background-image: url(/images/theres_only.png);
}
#investment > article > div.grid_container > div > h3{
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}
#investment > article > div.grid_container > div > p{
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
#broker{
  height: 750px;
}
#broker > article {
  margin-top: 114px;
}
#broker > article > div.grid_container{
  display: grid;
  gap: 50px;
  grid-template-areas:
    "A A A A B B B C C C"
    "A A A A D D D E E E";
}
#broker > article > div.grid_container > div.text{
  height: 140px;
}
#broker > article > div.grid_container > div:first-child{
  grid-area: A;
  height: 375px;
}
#broker > article > div.grid_container > div:first-child > h2 {
  text-align: left;
}
#broker > article > div.grid_container > div:first-child > p{
  margin-top: 33px;
}
#broker > article > div.grid_container > div:first-child > button{
  margin-top: 60px;
}
#broker > article > div.grid_container > div:nth-child(2){
  grid-area: B;
}
#broker > article > div.grid_container > div:nth-child(3){
  grid-area: C;
}
#broker > article > div.grid_container > div:nth-child(4){
  grid-area: D;
}
#broker > article > div.grid_container > div:last-child{
  grid-area: E;
}

@media (max-width: 1041px){
  #header{
    height: auto;
  }
  #header > header{
    background-position-x: 50%;
    background-size: 100%;
    height: auto;
  }
  #header > header > h1 {
    margin-top: 76vw;
  }

  #header > header:nth-child(1) > div:nth-child(5){
    width: auto;
  }
  #header > header > button.button{
    top: 120px;
  }
  .button {
    width: 100%;
  }
  #header > header > div.grid_container{
    margin-top: 150px;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 40px;
    position: unset;
  }
  #investment > article > h2 {
    margin-top: -70px;
  }
  #investment > article > div.grid_container {
    grid-template-columns: repeat(1, 1fr);
  }
  #investment > article > div.grid_container > div{
    background-size: 165px;
    height: 181px;
    padding-right: 200px;
  }
  #investment > article >div.grid_container> div > h3{
    font-size: 16px;
  }
}

@media (max-width: 600px){
  #header > header > div.grid_container > div{
    padding-right: 20px;
  }
  #broker > article > div.grid_container > div:first-child > h2 {
    margin-top: -45px;
    text-align: center;
  }
  #broker > article > div.grid_container{
    grid-template-areas:
      "A A A A" 
      "B B C C"
      "D D E E";
    gap: 14px;
  }
  #broker > article > div.grid_container > div.panel{
    background-color: #fff;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    height: 134px;
    padding: 15px;
  }
  #broker > article > div.grid_container > div:first-child{
    height: auto;
  }
}